.about-us {
    display: flex;
}
.about-us__wrap-img {
    /* width: 63%; */
    /* width: 88%; */
    width: 124%;
    /* width: calc(1224px + (815 - 1224) * ((100vw - 1920px) / (1280 - 1920))); */
    margin-right: 2.6%;
}
.about-us__img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}
.about-us__info {
    margin-top: 155px;
    margin-right: 5%;
}
.about-us__subtitle {
    margin-bottom: 0.83em;;
}
.about-us__list {
    margin-bottom: 1.25em;
}
.about-us__list-item:not(:last-child) {
    margin-bottom: 0.9375em;
}
.about-us__list-item {
    list-style-image: url("/images/system/listStyle.png");
    margin-left: 20px;
}
.about-us__button {
    margin-top: 50px;
    margin-bottom: 294px;
    font-weight: bold;
}
.about-us__text:not(:last-child) {
    margin-bottom: 1.25em;
}
/* .main-text:not(:last-child) {
    margin-bottom: 1.25em;
} */